.main {
    display: flex;
    flex-direction: row; /* display in horizontal */
    flex-wrap: wrap; /* if content width large then this break */
    flex-flow: row wrap; /* combine above two line */
    justify-content: space-around; /* content to center of width */
    align-items: center; /* content to center of height */
}

h1 {
    flex: 0 0 100%;
    text-align: center;
}

.content {
    flex: none;
    width: 100%;
}

.text-success {
    color: green;
}

.text-danger {
    color: red;
}
.text-special {
    font-style: italic;
}