<div class="main">
    <h1>Pipes</h1>
    <div class="pipes">
        <h3>{{sampleString}}</h3>
        <h3>{{sampleString|lowercase}}</h3>
        <h3>{{sampleString|uppercase}}</h3>
        <h3>{{sampleString|titlecase}}</h3>
        <h3>{{sampleString|slice:3}}</h3>
        <h3>{{sampleString|slice:3:-3}}</h3>
        <h3>{{sampleUser|json}}</h3>
        <h3>{{5.678|number:'1.2-3'}}</h3>
        <h3>{{5.678|number:'3.4-5'}}</h3>
        <h3>{{5.678|number:'3.1-2'}}</h3>
        <h3>{{0.25|percent}}</h3>
        <h3>{{0.25|currency}}</h3>
        <h3>{{0.25|currency:'GBP'}}</h3>
        <h3>{{0.25|currency:'GBP':'CODE'}}</h3>
        <h3>{{sampleDate}}</h3>
        <h3>{{sampleDate|date:'short'}}</h3>
        <h3>{{sampleDate|date:'shortDate'}}</h3>
        <h3>{{sampleDate|date:'shortTime'}}</h3>
    </div>
    <h1>{{ "Welcome to " + tapp_name1 }}</h1>
    <h1>{{ "Welcome to " + newname2 }}</h1>
    <button (click)='fireEvent()'>Send Event</button>
    <div class="content">
        <h2 *ngIf='isDisplay; else elseBlock'>sample for *ngIf</h2>
        <ng-template #elseBlock>
            <h2>simple *ngIf is been hidden</h2>
        </ng-template>
        <div *ngIf='isDisplay; then thenBlock2; else elseBlock2'></div>
        <ng-template #thenBlock2><h2>this is then block2.</h2></ng-template>
        <ng-template #elseBlock2><h2>this is else block2.</h2></ng-template>
        <div [ngSwitch]='color'>
            <div *ngSwitchCase="'red'">You picked red.</div>
            <div *ngSwitchCase="'blue'">You picked blue.</div>
            <div *ngSwitchCase="'green'">You picked green.</div>
            <div *ngSwitchDefault>This is the default selection.</div>
        </div>
        <div *ngFor='let color of colors; index as i; first as f; last as l; odd as o; even as e'>
            <h2>{{f}}&nbsp;{{l}}&nbsp;{{e}}&nbsp;{{o}}&nbsp;{{i}}&nbsp;{{ color }}</h2>
        </div>
        <input type="text" [value]="value1">
        <input type="text" value="{{value2}}">
        <input [disabled]="isDisabled1" type="text">
        <input [disabled]="isDisabled2" type="text">
        <input bind-disabled="isDisabled3" type="text">
        <h2 [class]="successClass">success</h2>
        <h2 class="text-special" [class]="successClass">two class test</h2>
        <h2 class="text-special" [class.text-danger]="hasError">danger test</h2>
        <h2 [ngClass]="messageClasses">sample things for ngobj</h2>
        <h2 [style.color]="hasError ? 'red' : 'green'">string with error</h2>
        <h2 [style.color]="highlightColor">string with highlight</h2>
        <h2 [ngStyle]="titleStyles">Binding sample 3</h2>
        <button (click)="clickHandler($event)">Greeting</button>
        <button (click)="greeting='hello fucker.'">Greeting</button>
        <input #myInput type="text">
        <button (click)="logMessage(myInput.value)">log</button>
        <button (click)="logMessage(myInput)">log2</button>
        {{greeting}}
        <input [(ngModel)]="username" type="text">
        {{username}}
    </div>
</div>